.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e5e6d6;
}
.navbar {
  margin: 0;
  width: 100%;
  height: 12vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 15px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.auth{
  display: flex;
  margin-top: 20vh;
}
Form{
  margin-left: 20px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.create-recipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}
.create-recipe form {
  display: flex;
  flex-direction: column;
}

li{
  max-width: 50vw;
  border: 2px solid #282c34;
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 50px;
  padding: 10px;
}
li img{
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.heading{
  text-align: center;
}
.instructions h3{
  margin-left: 20%;
  text-decoration: underline;
}
.ingredients li {
  margin-left: 14%;
  text-decoration: none;
  border:none;
  margin-bottom: 10px;
} 